POSTGRES_DB=foodgram
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password
DB_HOST=db
DB_PORT=5432
SECRET_KEY='django-insecure-8&e5z+$akm+h4u7$rep(!b1ll3pc52a*j(zk4rw55@(7xcgmq@'
DEBUG=True 
ALLOWED_HOSTS='127.0.0.1,foodgram-kuzmin.ddns.net'